<div class="row">
  <div class="col-md-3">
    <%= render 'shared/today_logo' %>
  </div>
  <div class="col-md-6">
    <h3>Who's doing what</h3>
    <% if user_signed_in? %>
      <%= render 'shared/post_form' %>
    <% end %>
    <% if @posts.empty? %>
      No posts yet.
    <% else %>
      <% the_date = Date.current %>
      <% if @posts.first.thedate == the_date %>
        <div class="post-date">
          Today
        </div>
      <% else %>
        <% the_date = @posts.first.thedate %>
        <div class="post-date">
          <%= the_date %>
        </div>
      <% end %>
      <% @posts.each do |post| %>
        <% if post.thedate != the_date %>
          <% the_date = post.thedate %>
          <div class="post-date">
            <%= the_date %>
          </div>          
        <% end %>
        <div class="well">
        <div class="panel-heading">
          <%= post.user.username %> has:
          <%= post.title %>
        </div>
        <div class="panel-body">
          <%= post.body %>
        </div>
        <div class="panel-footer">
          Tags: <%= render_tags_as_links(post.taglist) %>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Tags</h3><h4>what we're about</h4>
    <% @tags.each do |t| %>
      <div class="atag-link">
        <%= render_tags_as_links(t.name) %>
      </div>
    <% end %>
  </div>  
</div>