<div class="row">
  <div class="col-md-3">
    <%= render 'shared/today_logo' %>
    <% if user_signed_in? && current_user.username == @username %>
      <h3>My to-do list</h3>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if user_signed_in? && current_user.username == @username %>
      <h3>My Posts</h3>
      <span id="notice"><%= notice %></span>
      <%= render partial: 'shared/post_form', locals: {thetags: @tags} %>
    <% else %>
      <h3><%= @username %>&rsquo;s posts</h3>
    <% end %>
    <% if @posts.empty? %>
       No posts yet.
    <% else %>
      <%= render partial: 'shared/post_list', locals: {theposts: @posts} %>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3>Tags</h3><h4>what we're about</h4>
    <%= render partial: 'all_tags', locals: {thetags: @tags} %>
  </div>
</div>